.vs
/BackendChallenge.Pedidos.Api/bin/Debug/net5.0
/BackendChallenge.Pedidos.Api/obj
/BackendChallenge.Pedidos.Api/Properties

/BackendChallenge.Pedidos.Application/bin/Debug/net5.0
/BackendChallenge.Pedidos.Application/obj
/BackendChallenge.Pedidos.Application/Properties

/BackendChallenge.Pedidos.Domain/bin/Debug/net5.0
/BackendChallenge.Pedidos.Domain/obj
/BackendChallenge.Pedidos.Domain/Properties

/BackendChallenge.Pedidos.Infrastructure/bin/Debug/net5.0
/BackendChallenge.Pedidos.Infrastructure/obj
/BackendChallenge.Pedidos.Infrastructure/Properties

/BackendChallenge.Pedidos.Tests/bin/Debug/net5.0
/BackendChallenge.Pedidos.Tests/obj
/BackendChallenge.Pedidos.Tests/Properties